@import 'base/_buttons'
@import 'base/_carousel'
@import 'base/_gallery'
@import 'blocks/_advantages'
@import 'blocks/_feedback'
@import 'blocks/_footer'
@import 'blocks/_form'
@import 'blocks/_header'
@import 'blocks/_location'
@import 'blocks/_promo'
@import 'blocks/_selector'
@import 'blocks/_triple'

.mt10
    margin-top: 10px

.logo
    width: 185px
    &__footer
        width: 400px

body::-webkit-scrollbar 
    width: 10px

body::-webkit-scrollbar-track 
    background-color: #eeeeee
 
body::-webkit-scrollbar-thumb 
    background-color: #8E2DE2
    border-radius: 18px

body::-webkit-scrollbar-thumb
    &:hover
        background-color: #7f2ac9