.diamond
    text-align: center
    margin-bottom: 120px
    &__title
        margin: 85px 0 100px 0
        font-weight: 700
        font-size: 40px
        line-height: 82px
        color: #fff
        background: linear-gradient(90deg, #4A00E0, #8E2DE2)
    &__row
        display: flex
        justify-content: space-around
        margin-bottom: 150px
        &:last-child
            margin: 0 170px
    &__mark
        width: 200px
        position: relative
        font-weight: 600
        font-size: 20px
        // color: #223344
        color: #fff
        border-radius: 18px
        background: linear-gradient(90deg, #4A00E0, #8E2DE2)
        img
            z-index: -1
            position: absolute
            top: -130%
            left: 10%
            width: 160px
        p
            top: -50px
            padding: 15px
            position: absolute
            visibility: hidden
            border-radius: 18px
            font-size: 16px
            background: linear-gradient(90deg, #4A00E0, #8E2DE2)
            transition: .2s
        &:hover
            h4
                position: absolute
                visibility: hidden
            p
                visibility: visible
                transform: scale(1.05)
            
            
    &__photo
        z-index: -2
        position: absolute
        left: 0