.feedback
    padding: 50px 0 100px 0
    color: #223344
    &__title
        text-align: center
        font-weight: 700
        font-size: 40px
        line-height: 49px
    .comment
        display: flex
        justify-content: space-between
        align-items: center
        margin: 60px auto
        max-width: 589px
        height: 176px
        border-radius: 18px
        box-shadow: 0px 4px 32px 0px #0000001F
        background-color: #fff
        padding: 0 30px
        overflow: hidden
    &__photo
        overflow: hidden
        width: 122px
        height: 122px
        border-radius: 50%
        img
            width: 122px
            height: auto
    &__text
        display: flex
        width: 390px
        flex-wrap: wrap
    &__stats
        font-size: 14px
        margin: 6px 0 0 10px
    &__name
        font-weight: 600
        font-size: 20px
    &__descr
        width: 390px
        font-weight: 500
        font-size: 17px
        line-height: 21px