.feedback
    padding: 50px 0 100px 0
    color: #223344
    &__title
        text-align: center
        font-weight: 700
        font-size: 40px
        line-height: 49px
    .comment
        display: flex
        justify-content: space-between
        align-items: center
        margin: 60px auto
        max-width: 589px
        height: 176px
        border-radius: 18px
        box-shadow: 0px 4px 32px 0px #0000001F
        background-color: #fff
        padding: 0 30px
        overflow: hidden
        transition: .6s
    .more
        height: 500px
        .dots
            display: none
        .comment-details
            display: inline
    .comment-details
        display: none
    &__photo
        position: relative
        padding: 59px
        margin: 27px 0
        width: 122px
        height: 122px
        border: 2px solid #dbdbdb
        border-radius: 50%
        overflow: hidden
        img
            width: 122px
        .custom_pos-1
            transform: translateX(-61px) translateY(-80px)
        .custom_pos-2
            transform: translateX(-61px) translateY(-65px)
        .custom_pos-3
            transform: translateX(-61px) translateY(-60px)
        .custom_pos-4
            width: 180px
            transform: translateX(-88px) translateY(-61px)
        .custom_pos-5
            width: 125px
            transform: translateX(-57px) translateY(-62px)
        .custom_pos-6
            transform: translateX(-60px) translateY(-60px)
    &__text
        margin: 40px 0 40px 20px
        display: flex
        width: 390px
        flex-wrap: wrap
    &__stats
        font-size: 14px
        margin: 6px 0 0 10px
    &__name
        font-weight: 600
        font-size: 20px
    &__descr
        width: 390px
        font-weight: 500
        font-size: 17px
        line-height: 21px
.feedback>.container>.swiper .swiper-slide
    display: flex
    justify-content: center