footer
    display: flex
    justify-content: space-between
    min-height: 300px
    background: linear-gradient(90deg, #4a00e0, #8e2de2)
    img
        margin-top: 70px
        height: 150px
    nav
        float: right
        margin-top: 45px
        text-align: center
        li
            margin-top: 10px
            list-style-type: none
            font-weight: 500
            font-size: 20px
            a   
                text-decoration: none
                color: #fff
                &:hover
                    text-decoration: underline

//* =========Подвал=========
aside
    height: 50px
    background: linear-gradient(90deg, rgb(66, 0, 199), rgb(126, 29, 211))
    color: #fff
    font-weight: 700
    font-size: 20px
    section
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 5px
        .none
            font-size: 1px
        a:hover
            text-decoration: underline
    img
        transform: translateX(-50px)
        height: 40px