footer
    background: linear-gradient(90deg, #4a00e0, #8e2de2)
    .wrapper
        padding: 45px 0
        display: flex
        justify-content: space-between
        align-items: center
    img
        height: 150px
    nav
        li
            margin-top: 10px
            font-weight: 400
            font-size: 16px
            line-height: 20px
            a
                color: #fff
                &:hover
                    text-decoration: underline

aside
    height: 50px
    background: linear-gradient(90deg, rgb(66, 0, 199), rgb(126, 29, 211))
    color: #fff
    .container
        height: 100%
    .aside-wrapper
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%
    span 
        display: inline
    a:hover
        text-decoration: underline