.location
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 403px
    margin-bottom: 60px
    color: #223344
    &__title
        font-weight: 700
        font-size: 40px
        line-height: 49px
    &__list
        list-style-type: disc
        font-weight: 400
        font-size: 20px
        line-height: 30px
        margin: 20px 0 0 20px
        cursor: pointer
        li:hover
            text-decoration: underline
    &__map
        display: none
        border: 3px solid
        &_active
            display: block