.selector
    padding: 100px 0 50px 0
    color: #3B2E85
    font-weight: 500
    font-size: 20px
    line-height: 24px
    text-align: center
    background-color: #F8F8F8
    overflow-x: hidden
    &__menu
        display: flex
        justify-content: center
        list-style-type: none
    &__item
        cursor: pointer
        margin: 0 12px
        &:hover
            text-decoration: underline
        &_active
            font-weight: 600
            text-decoration: underline