.dancer
    color: #fff
    font-weight: 600
    font-size: 24px
    line-height: 29px
    &__content
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin-top: 30px
    &__item
        position: relative
        margin: 15px
        width: 540px
        height: 299px
        cursor: pointer
        transition: 0.4s
        border-radius: 18px
        &:nth-child(1)
            background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/dancers/kids.jpg) no-repeat 50% / cover border-box
        &:nth-child(2)
            background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/dancers/online.jpg) no-repeat 50% / cover border-box
        &:nth-child(3)
            background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/dancers/online.jpg) no-repeat 50% / cover border-box
        &:nth-child(4)
            background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/dancers/proamad.jpg) no-repeat 50% / cover border-box
        &:nth-child(5)
            background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../img/dancers/ballroom.jpg) no-repeat 50% / cover border-box
        &:hover
            .dancer__arrow
                transform: translateY(0px)
                opacity: 1
    &__arrow
        position: absolute
        bottom: 41px
        left: 397px
        transform: translateY(100px)
        opacity: 0
        transition: 0.5s
        &_big
            left: 586px
    h2
        position: absolute
        bottom: 35px
        left: 35px

.organizator
    width: 1056px
    margin: 0 auto
    min-height: 742px
    margin-bottom: 150px
    &__card 
        width: 600px
        display: flex
        flex-wrap: wrap
    &__title
        font-weight: 700
        font-size: 40px
        line-height: 49px
        &_main
            margin: 79px 0
            text-align: center
    &__wrapper
        max-width: 100%
        display: flex
        justify-content: space-between
    &__address
        margin-top: 15px
        font-weight: 600
        font-size: 20px
        line-height: 24px
        cursor: pointer
        &:hover
            text-decoration: underline
    &__reasons
        margin: auto 0
        ul
            margin-top: 25px
            li
                list-style-type: disc
                margin-bottom: 15px
                margin-left: 22px
                font-weight: 600
                font-size: 22px
                line-height: 27px
.gallery-photo
    width: 450px
    border-radius: 18px
.hide
    display: none

.trainer
    width: 80%
    margin: 0 auto
    .wrapper
        max-width: 100%
        margin-top: 100px
        display: flex
        justify-content: space-between
        align-items: center
    &__title
        font-weight: 700
        font-size: 56px
        line-height: 68px
    &__subtitle
        margin-top: 15px
        font-weight: 600
        font-size: 20px
        line-height: 24px
    img
        border-radius: 18px
        width: 527px
        height: auto

.cuople
    height: 547px
    width: 660px

.block
    color: #223344
    &__content
        display: none
        &_active
            display: block